<!-- <app-menu></app-menu> -->
<!-- <app-use-icon-pipe></app-use-icon-pipe> -->
<!-- <app-teacher></app-teacher> -->
 <!-- <nav>
<section>
    <div class="example-label"></div>
    <div class="example-button-row">
      <div class="example-flex-container">
          <a mat-fab extended routerLink="/lesson11" routerLinkActive="active">schedule
            <mat-icon>favorite</mat-icon>  
          </a>
        </div>
    </div>
  </section>
  <section>
    <div class="example-label"></div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <a mat-fab extended routerLink="/student" routerLinkActive="active">student
          <mat-icon>favorite</mat-icon>
            Link
          </a>
        </div>
    </div>
  </section>
    <section>
      <div class="example-label"></div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <a mat-fab extended routerLink="/teacher" routerLinkActive="active">teacher
          <mat-icon>favorite</mat-icon>
            </a>
          </div>
      </div>
      
  </section>
  <section>
    <div class="example-label"></div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <a mat-fab extended routerLink="/courses" routerLinkActive="active">courses
        <mat-icon>favorite</mat-icon>
          </a>
        </div>
    </div>
    
</section>
</nav> 

  <router-outlet></router-outlet> -->
 <app-lesson13></app-lesson13>